/* @import ".../node_modules/tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  list-style-type: none;
}

body {
  background-color: #022460;
}

.header {
  background-color: #00243e;
  padding: 2.5rem 5rem;
}

.main {
  padding: 5rem 5rem;
}

.dice-roller {
  padding: 1rem 1.5rem;
}

.dice-roller__container {
  /*display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;*/
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
}

.dice-roller__button {
  background-color: #0066b1;
  border: 2px solid #fdf55b;
  margin: 0 5px 5px 0;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fdf55b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 115px;
  height: 76px;
  cursor: pointer;
  -webkit-animation: colorPulse 3s infinite ease-in-out;
          animation: colorPulse 3s infinite ease-in-out;
}

.dice-roller__button:hover {
  border-color: #0066b1;
  color: #0066b1;
  background-color: #fdf55b;
}

@media screen and (min-width: 992px) {
  .dice-roller__container, .combat-dice-roller {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.combat-dice__img {
  width: 2.5rem;
  margin-left: 0.5rem;
}

.combat-dice-roller {
  display: -ms-grid;
  display: grid;
  padding: 1rem 1.5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen {
  -webkit-animation: colorPulse 5s infinite ease-in-out;
          animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#195328, #000904);
  -webkit-box-shadow: 0 0 5vmin 1vmin #000 inset;
          box-shadow: 0 0 5vmin 1vmin #000 inset;
  width: 100%;
  height: 100%;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.05em;
}

.screen::before {
  -webkit-animation: wave 20s infinite ease-in-out;
          animation: wave 20s infinite ease-in-out;
  content: "";
  height: 30px;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  z-index: 1;
}

@-webkit-keyframes colorPulse {
  0%,
  100% {
    color: #fff70093;
    color: #0c0;
  }
  40%,
  70% {
    color: #090;
    color: #fffa91;
  }
}

@keyframes colorPulse {
  0%,
  100% {
    color: #fff70093;
    color: #0c0;
  }
  40%,
  70% {
    color: #090;
    color: #fffa91;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    top: -100vh;
  }
  48%,
  52% {
    -webkit-box-shadow: 0 -10vh 20vh #090;
            box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    -webkit-box-shadow: 0 -10vh 20vh #060;
            box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    top: 200vh;
  }
}

@keyframes wave {
  0% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    top: -100vh;
  }
  48%,
  52% {
    -webkit-box-shadow: 0 -10vh 20vh #090;
            box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    -webkit-box-shadow: 0 -10vh 20vh #060;
            box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    -webkit-box-shadow: 0 -10vh 20vh #0c0;
            box-shadow: 0 -10vh 20vh #0c0;
    top: 200vh;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */