/* @import ".../node_modules/tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

$black: #070707;
$lg: 992px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style-type: none;
}
body {
    background-color: #022460;
    background-color: #041635;
}

.header,
footer {
    background-color: #fdf55b;
    padding: 2.5rem 5rem;
}

.main {
    padding: 3rem 0;
}

.dice-roller {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-evenly;

    &__button {
        background-color: #0066b1;
        border: 3px solid #fdf55b;
        margin: 0 5px 5px 0;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fdf55b;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        min-width: 125px;
        max-width: 125px;
        height: 76px;
        cursor: pointer;
        &:hover {
            background: linear-gradient(-45deg, #0066b1 40%, #fafafa 50%, #0066b1 60%);
            background-size: 300%;
            background-position-x: 100%;
            border-color: #0066b1;
            animation: shimmer forwards 4s ease-in-out;
        }
        &:active {
            color: #ffffff !important;
        }
        &__container {
            margin-bottom: 80px;
            display: grid;
        }
    }
    &__result {
        text-align: center;
        color: #fdf55b;
        font-size: 30px;
        margin-bottom: 20px;
        min-height: 45px;
        .combat-dice__img {
            margin: 0;
        }
    }
}
@media screen and (max-width: 850px) {
    .dice-roller {
        flex-direction: column;
        align-items: center;
    }
    .dice-roller__button__container {
        min-width: 100% !important;
        width: 90vw !important;
        justify-content: center;
    }
    .dice-roller__button {
        min-width: 90vw;
    }
    /* 
    .dice-roller__result{
        font-size: 14px;
    } */
}
@media screen and (min-width: 850px) {
    .dice-roller__button__container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 33vw;
    }
}
@media screen and (min-width: 1200px) {
    .dice-roller__button__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.combat-dice__img {
    width: 2.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: text-bottom;
}

.d {
    &-flex {
        display: flex;
    }
    &-none {
        display: none;
    }
}

.justify-content {
    &-center {
        justify-content: center;
    }
}
.screen {
    animation: colorPulse 5s infinite ease-in-out;
    background-image: radial-gradient(#195328, #000904);
    box-shadow: 0 0 5vmin 1vmin #000 inset;
    width: 100%;
    height: 100%;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.05em;
    &::before {
        animation: wave 18s infinite ease-in-out;
        content: "";
        height: 30px;
        left: 0;
        opacity: 0.5;
        position: fixed;
        right: 0;
        z-index: 1;
    }
}

@keyframes wave {
    0% {
        box-shadow: 0 -10vh 20vh #0c0;
        top: -100vh;
    }

    48%,
    52% {
        box-shadow: 0 -10vh 20vh #090;
    }

    50% {
        box-shadow: 0 -10vh 20vh #060;
    }

    100% {
        box-shadow: 0 -10vh 20vh #0c0;
        top: 200vh;
    }
}

@keyframes shimmer {
    0% {
        background-position-x: 100%;
    }
    10% {
        color: #0067b100;
        color: #fdf55b9b;
    }

    20% {
        background-position-x: 0%;
        color: #ffffff;
        color: #ffffba;
    }
    28% {
        //color: #fdf55b;
    }
    35% {
        background: linear-gradient(#0066b1);
    }
    100% {
        background: none #0066b1;
        background-position-x: 0%;
        color: #ffffae;
    }
}
